<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">About</div>
  <div class="overview">
    <div class="index">ToMmi's Mix Studio</div>
    <div class="border"></div>
    <div class="profile">
      <div class="profile-img"></div>
      <div class="profile-text">音楽制作のプロの現場に身を置きながらも歌ってみた界隈に「良い音」と「良い鳴り」を提供させていただくために立ち上げました。</div>
    </div>
  </div>
</div>
<%= render partial: 'footer'%>