<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">Contact</div>
  <div class="overview">
    <div class="index">Twitter</div>
    <div class="border"></div>
  </div>
</div>
<%= render partial: 'footer'%>