<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">Contact</div>
  <div class="overview">
    <div class="contact-text">
    ご依頼・お問い合わせに関しましては現在TwitterのDMより承っております<br>
    まずはお気軽にDMにてお問い合わせください
    </div>
    <div class="payment">
      銀行振込かアマゾンギフトでお支払いください。<br>
      口座はご依頼の流れでお伝えします。<br>
      先払いでございます。
    </div>
    <div class="necessary">
      必要なもの<br>
      公式のInstデータ<br>
      録音したデータ<br>
      ご要望を書いたTEXTデータ（有れば）<br>
      以上を一つのフォルダにまとめZip圧縮してアップローダーにてあげてください。<br>
      フォルダ名は曲名と依頼者様の名前を記載してください。<br>
      おすすめのアップローダーはギガファイル便です。
    </div>
    <div class="cancel">
      キャンセルになった場合<br>
      それ迄の作業分の金額を差し引いた額を返金させていただきます。
    </div>
  </div>
</div>
<%= render partial: 'footer'%>