<div class="header">
  <div class="title">ToM_Mix_STUDiO</div>
  <ul class="main-menu">
    <li>Top</li>
    <li>Info</li>
    <li>Pricelist</li>
    <li>Contact</li>
  </ul>
</div>

<div class="body">
  <div class="top-message">Best sound for all artists</div>
  <div class="overview"></div>
</div>

<div class="footer">
  <ul class="foot-menu">
    <li>Top</li>
    <li>Info</li>
    <li>Pricelist</li>
    <li>Contact</li>
  </ul>
</div>