<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">Pricelist</div>
  <div class="overview">
    <div class="index">Plan</div>
    <div class="border"></div>
    <div class="plan-list">
      <div class="plan">
        <div class="plan-name">お試し</div>
        <div class="plan-price">￥1,000</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">スタンダード</div>
        <div class="plan-price">￥4,000</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">お急ぎ</div>
        <div class="plan-price">￥6,000</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">爆速</div>
        <div class="plan-price">￥15,000</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
    </div>
    <div class="index">Option</div>
    <div class="border"></div>
        <div class="plan-list">
      <div class="plan">
        <div class="plan-name">コラボ・合唱</div>
        <div class="plan-price">￥2,000~</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">ガイド作成</div>
        <div class="plan-price">￥4,000~</div>
        <div class="plan-detail">
          内容
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'footer'%>