<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">Pricelist</div>
  <div class="overview">
    <div class="index">Mix</div>
    <div class="border"></div>
    <div class="plan-list">
      <div class="plan">
        <div class="plan-name">お試し</div>
        <div class="plan-price">￥1,000-</div>
        <div class="plan-detail">
          <ul>
            <li>マスタリング</li>
            <li>納期</li>
          </ul>
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">ワンコ</div>
        <div class="plan-price">￥3,000-</div>
        <div class="plan-detail">
          <ul>
            <li>タイミング</li>
            <li>ピッチ修正</li>
            <li>ハモり作成</li>
            <li>エフェクト</li>
            <li>マスタリング</li>
            <li>納期</li>
          </ul>
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">スタンダード</div>
        <div class="plan-price">￥4,000-</div>
        <div class="plan-detail">
          <ul>
            <li>タイミング</li>
            <li>ピッチ修正</li>
            <li>ハモり作成</li>
            <li>エフェクト</li>
            <li>マスタリング</li>
            <li>納期</li>
          </ul>
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">お急ぎ</div>
        <div class="plan-price">￥6,000-</div>
        <div class="plan-detail">
          <ul>
            <li>タイミング</li>
            <li>ピッチ修正</li>
            <li>ハモり作成</li>
            <li>エフェクト</li>
            <li>マスタリング</li>
            <li>納期</li>
          </ul>
        </div>
      </div>
      <div class="plan">
        <div class="plan-name">爆速</div>
        <div class="plan-price">￥15,000-</div>
        <div class="plan-detail">
          <ul>
            <li>タイミング</li>
            <li>ピッチ修正</li>
            <li>ハモり作成</li>
            <li>エフェクト</li>
            <li>マスタリング</li>
            <li>納期</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'footer'%>