<%= render partial: 'header'%>
<div class="body">
  <div class="top-message">Best sound for all artists</div>
  <div class="overview">
    <div class="index-sub">サービス</div>
    <div class="index">Service</div>
    <div class="border"></div>
    <div class="service">
      <div class="service-menu">
        <div class="mix-img"></div>
        <div class="service-title">MIX</div>
        <div class="service-text">お客様のご要望にあった『MIX』どんなに細かくイメージを伝えてもらっても忠実に再現できる技術があります。ToMmiに丸投げでもご心配なく。</div>
      </div>
        <div class="service-menu">
        <div class="edit-img"></div>
        <div class="service-title">EDIT</div>
        <div class="service-text">ノイズ処理・タイミング・ピッチ修正と時間を要する『EDIT』手を抜かれやすいこれらの作業も完璧に行います。</div>
      </div>
      <div class="service-menu">
        <div class="support-img"></div>
        <div class="service-title">SUPPORT</div>
        <div class="service-text">自身で録音をしたい方の『SUPPORT』録音の仕方が分からない方に環境にあった録音時の注意やコツなどをサポートします。</div>
      </div>
    </div>
    <div class="index-sub">ディスコグラフィー</div>
    <div class="index">Discography</div>
    <div class="border"></div>
    <div class="discography">
      <div class="discography-list">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/Q2Wo9C7OrMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="discography-list">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/Q2Wo9C7OrMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="discography-list">
        <iframe width="400" height="250" src="https://www.youtube.com/embed/Q2Wo9C7OrMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="pricelist-btn-container">
      <%= link_to "Pricelist", pricelist_path, class: "pricelist-btn" %>
    </div>
  </div>
</div>
<%= render partial: 'footer'%>