.contact-text{
  margin-bottom: 30px;
  font-size: large;
  text-align: center;
}

.payment{
  margin-bottom: 30px;
  font-size: large;
  text-align: center;
}

.necessary{
  margin-bottom: 30px;
  font-size: large;
  text-align: center;
}

.cancel{
  margin-bottom: 30px;
  font-size: large;
  text-align: center;
}